#Data Cleaning for Utility Relation

In [0]:
#Import Pandas and Numpy for data frames and data types
import pandas as pd
import numpy as np
print(pd.__version__)
print(np.__version__)

0.25.3
1.18.2

In [0]:
#Import visual plotting and mapping libraries.
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
#Import seaborn to visualize missing data.
import seaborn as sns

#Sales - Reading in Intial Spreadsheets

##2018 Sales Table

In [0]:
#2018

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2018_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2018_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2018_columns
typeConverter = sales2018_typeConverter
sheetCols = 'A:C,E,H,I,J'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2018.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2018_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2018_columns
typeConverter = sales2018_typeConverter
sheetCols = 'A:C,E,K,L,M'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2018.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2018_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2018_columns
typeConverter = sales2018_typeConverter
sheetCols = 'A:C,E,N,O,P'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2018.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2018_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2018 = pd.concat([sales2018_residential,sales2018_commercial,sales2018_industrial], axis=0)
#Create Heirarchical Index
sales2018.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2018.dtypes)
print(sales2018.shape)
#Goes from 8560 to 7234 when dropping 0 and 88888 util_ids.  Goes to
#6244 when dropping those that don't service residential customers.

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(17056, 3)

In [0]:
sales2018

                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2018 1     213     AK    Residential             14653  17133.5  2242.58
           219     AK    Residential              5478  2609.37  790.691
           221     AK    Residential              8191  4131.69   1923.3
           599     AK    Residential             24593  12833.6  2367.93
           3522    AK    Residential             71501    50431    10088
...                                                ...      ...      ...
     12    14354   WY    Industrial               2771   613518  37329.1
           19156   WY    Industrial               3583   107714  7189.41
           19545   WY    Industrial                 11    10087  922.147
           27000   WY    Industrial                  1   13.774    0.344
           27058   WY    Industrial               1248     8300      924

[17056 rows x 3 columns]

##2017 Sales Table

In [0]:
#2017

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2017_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2017_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2017_columns
typeConverter = sales2017_typeConverter
sheetCols = 'A:C,E,H,I,J'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2017.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2017_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2017_columns
typeConverter = sales2017_typeConverter
sheetCols = 'A:C,E,K,L,M'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2017.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2017_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2017_columns
typeConverter = sales2017_typeConverter
sheetCols = 'A:C,E,N,O,P'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/retail_sales_2017.xlsx', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2017_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2017 = pd.concat([sales2017_residential,sales2017_commercial,sales2017_industrial], axis=0)
#Create Heirarchical Index
sales2017.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2017.dtypes)
print(sales2017.shape)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(16835, 3)

In [0]:
sales2017

                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2017 1     213     AK    Residential             14504    17417  2198.61
           219     AK    Residential              5451  2689.82   858.35
           221     AK    Residential              7863  4170.45  1800.36
           599     AK    Residential             24506  14231.6   2523.9
           3522    AK    Residential             71198    55341    10529
...                                                ...      ...      ...
     12    14354   WY    Industrial               2783   579937  36634.4
           19156   WY    Industrial               3571   117418  8381.52
           19545   WY    Industrial                 11    10175  863.698
           27000   WY    Industrial                  1   10.679    0.382
           27058   WY    Industrial               1220     8799      919

[16835 rows x 3 columns]

##2016 Sales Table

In [0]:
#2016

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2016_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2016_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2016_columns
typeConverter = sales2016_typeConverter
sheetCols = 'A:C,E,H,I,J'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262016.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2016_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2016_columns
typeConverter = sales2016_typeConverter
sheetCols = 'A:C,E,K,L,M'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262016.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2016_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2016_columns
typeConverter = sales2016_typeConverter
sheetCols = 'A:C,E,N,O,P'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262016.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2016_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2016 = pd.concat([sales2016_residential,sales2016_commercial,sales2016_industrial], axis=0)
#Create Heirarchical Index
sales2016.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2016.dtypes)
print(sales2016.shape)
print(sales2016)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(16622, 3)
                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2016 1     213     AK    Residential             14401  15960.6  1959.56
           219     AK    Residential              5380  2426.33  701.478
           221     AK    Residential              7811     3985     2022
           599     AK    Residential             24506  13375.7  2191.06
           3522    AK    Residential             70699    51518     9314
...                                                ...      ...      ...
     12    14354   WY    Industrial               2788   580281  38361.6
           19156   WY    Industrial               3564   116404  8020.41
           19545   WY    Industrial                 11  10510.6   880.45
           27000   WY    Industrial                  1   11.122    0.393
           27058   WY    Industrial               1212     9155      931

[16622 rows x 3 columns]

##2015 Sales Table

In [0]:
#2015

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2015_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2015_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2015_columns
typeConverter = sales2015_typeConverter
sheetCols = 'A:C,E,H,I,J'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262015.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2015_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2015_columns
typeConverter = sales2015_typeConverter
sheetCols = 'A:C,E,K,L,M'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262015.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2015_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2015_columns
typeConverter = sales2015_typeConverter
sheetCols = 'A:C,E,N,O,P'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262015.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2015_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2015 = pd.concat([sales2015_residential,sales2015_commercial,sales2015_industrial], axis=0)
#Create Heirarchical Index
sales2015.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2015.dtypes)
print(sales2015.shape)
print(sales2015)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(16388, 3)
                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2015 1     213     AK    Residential             14132    15449     1914
           219     AK    Residential              5254  2418.03  768.624
           221     AK    Residential              7835     3847     2230
           599     AK    Residential             24355    13614  2191.51
           3522    AK    Residential             70384    55439     8457
...                                                ...      ...      ...
     12    14354   WY    Industrial               2789   574502  36563.4
           19156   WY    Industrial               3536   123830  7288.89
           19545   WY    Industrial                 11    10148   606.28
           27000   WY    Industrial                  1   12.652    0.593
           27058   WY    Industrial               1198     6838      661

[16388 rows x 3 columns]

##2014 Sales Table

In [0]:
#2014

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2014_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2014_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2014_columns
typeConverter = sales2014_typeConverter
sheetCols = 'A:C,E,H,I,J'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262014.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2014_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2014_columns
typeConverter = sales2014_typeConverter
sheetCols = 'A:C,E,K,L,M'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262014.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2014_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2014_columns
typeConverter = sales2014_typeConverter
sheetCols = 'A:C,E,N,O,P'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262014.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Sales Ultimate Cust. -States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2014_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2014 = pd.concat([sales2014_residential,sales2014_commercial,sales2014_industrial], axis=0)
#Create Heirarchical Index
sales2014.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2014.dtypes)
print(sales2014.shape)
print(sales2014)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(14464, 3)
                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2014 1     213     AK    Residential             14061  15405.9  1915.65
           219     AK    Residential              4833  2277.68  695.485
           599     AK    Residential             24357  14704.8  2227.22
           1651    AK    Residential              1699  1118.56  652.012
           3522    AK    Residential             70004    54493     8434
...                                                ...      ...      ...
     12    14354   WY    Industrial               2771   590364  37372.1
           19156   WY    Industrial               3498   137125  7769.61
           19545   WY    Industrial                 12  10958.9  909.274
           27000   WY    Industrial                  1    11.89    0.523
           27058   WY    Industrial               1150     5324      568

[14464 rows x 3 columns]

##2013 Sales Table

In [0]:
#2013

#Checklist:
#1) Change column names
#2) Change data types names
#3) Change reading file name
#4) Change column name and typeconverter reference for file reading.
#5) Change columns reading from spreadsheet
#6) 
#
#
#

#Define column names to use in a python list.  Match order to the column order in spreadsheet.
sales2013_columns = ['year',
                     'month',
                     'util_id',
                     'state',
                     'revenue',
                     'MWh_sold',
                     'num_accounts']
#Define datatypes to use for the columns.  Specified in the form of a converter.
sales2013_typeConverter = {'year':int,
                            'month':int,
                            'util_id':str,
                            'state':str,
                            'revenue':float,
                            'MWh_sold':float,
                            'num_accounts':int}
#-------------------------RESIDENTIAL-------------------------
columnNames = sales2013_columns
typeConverter = sales2013_typeConverter
sheetCols = 'A:C,E,G,H,I'
sectorName = 'Residential'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262013.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Retail Sales - States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2013_residential = df.copy(deep=True)

#-------------------------COMMERCIAL-------------------------
columnNames = sales2013_columns
typeConverter = sales2013_typeConverter
sheetCols = 'A:C,E,J,K,L'
sectorName = 'Commercial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262013.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Retail Sales - States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2013_commercial = df.copy(deep=True)

#-------------------------INDUSTRIAL-------------------------
columnNames = sales2013_columns
typeConverter = sales2013_typeConverter
sheetCols = 'A:C,E,M,N,O'
sectorName = 'Industrial'
#Read in excel sheet to Pandas Dataframe.
df = pd.read_excel('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/organizedData/3_sales/f8262013.xls', #Directory of spreadsheet to read in.
                            sheet_name = 'Retail Sales - States',  #Define the sheet we are reading data from.
                            skiprows = 2,  #Number of rows to skip to get to column headers.
                            usecols = sheetCols,   #Select which columns you want to read and skip.  A:F -> A to F.   Can list many ranges.
                            names = columnNames,   #Define the names of the columns
                            #index_col = ['year','month','util_id'],  #Define the column to use for indexing the dataframe.  In this case, utility IDs.
                            na_values = [' ','.','0','0.0','0.000','88888'],  #Define flags for null values.
                            converters = typeConverter
                            #nrows = 10,  #Define number of rows to read in
                            )
#Drop rows with util_id now set to NaN
df = df.dropna(subset=['util_id'])
#Drop rows with NaN in the util_id, revenue, MWh_sold, or num_accounts.
df = df.dropna(subset=['revenue','MWh_sold','num_accounts'])
#Convert util_id explicitly to int
df = df.astype({'util_id':int})
#Rearrange columns and add cust_sector_name
df['cust_sector_name'] = sectorName
df = df[['year','month','util_id','state','cust_sector_name','num_accounts','MWh_sold','revenue']]

#Write to final dataframe.
sales2013_industrial = df.copy(deep=True)


#-------------------------CONCATINATE INTO ONE DATAFRAME-------------------------
sales2013 = pd.concat([sales2013_residential,sales2013_commercial,sales2013_industrial], axis=0)
#Create Heirarchical Index
sales2013.set_index(['year','month','util_id','state','cust_sector_name'], inplace=True)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales2013.dtypes)
print(sales2013.shape)
print(sales2013)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(14389, 3)
                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2013 1     213     AK    Residential             13901  16227.5  2290.65
           219     AK    Residential              4745  2449.64  738.549
           599     AK    Residential             24423  14825.8  1632.12
           1651    AK    Residential              1692  1052.71  574.107
           3522    AK    Residential             69548    59276     8276
...                                                ...      ...      ...
     12    12199   WY    Industrial                 16      226       18
           14354   WY    Industrial               2750   531249  33038.9
           19156   WY    Industrial               3476   134206  7770.74
           19545   WY    Industrial                 12  10785.6  747.389
           27058   WY    Industrial               1111     3818      404

[14389 rows x 3 columns]

#Sales - Concatinate Previous Years

##2018-2013

In [0]:
#Concatinate 2018 to 2013 into 1 dataframe.
sales_2018_to_2013 = pd.concat([sales2018,
                                sales2017,
                                sales2016,
                                sales2015,
                                sales2014,
                                sales2013],
                               axis = 0)

In [0]:
#Output data type columns.  Strings show as objects for some reason...
print(sales_2018_to_2013.dtypes)
print(sales_2018_to_2013.shape)
print(sales_2018_to_2013)

num_accounts    object
MWh_sold        object
revenue         object
dtype: object
(95754, 3)
                                          num_accounts MWh_sold  revenue
year month util_id state cust_sector_name
2018 1     213     AK    Residential             14653  17133.5  2242.58
           219     AK    Residential              5478  2609.37  790.691
           221     AK    Residential              8191  4131.69   1923.3
           599     AK    Residential             24593  12833.6  2367.93
           3522    AK    Residential             71501    50431    10088
...                                                ...      ...      ...
2013 12    12199   WY    Industrial                 16      226       18
           14354   WY    Industrial               2750   531249  33038.9
           19156   WY    Industrial               3476   134206  7770.74
           19545   WY    Industrial                 12  10785.6  747.389
           27058   WY    Industrial               1111     3818      404

[95754 rows x 3 columns]

#Output to CSV Files

In [0]:
#Output to csv file.
sales_2018_to_2013.to_csv('/content/drive/My Drive/CIS4301_EIA_Data_Cleaning/cleanedData/3_sales/sales_2018_to_2013.csv')